<%= form_for(@word) do |f| %>
  <% if @word.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@word.errors.count, "error") %> prohibited this word from being saved:</h2>

      <ul>
      <% @word.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Word %><br>
    <%= f.text_field :Word %>
  </div>
  <div class="field">
    <%= f.label :Translation %><br>
    <%= f.text_field :Translation %>
  </div>
  <div class="field">
    <%= f.label :IDWordType %><br>
    <%= f.collection_select :IDWordType, WordType.order(:Name),:id,:Name, include_blank: true %>
    <%-#= f.number_field :IDWordType -%> 
  </div>
  <div class="field">
    <%= f.label :IPA %><br>
    <%= f.text_field :IPA %>
  </div>
  <div class="field">
    <%= f.label :IDDictionary %><br>
    <%= f.number_field :IDDictionary %>
  </div>
  <div class="field">
    <%= f.hidden_field :IDUser, value: session[:user_id] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
