<%= form_for(@word_category) do |f| %>
  <% if @word_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@word_category.errors.count, "error") %> prohibited this word_category from being saved:</h2>

      <ul>
      <% @word_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :IDWord %><br>
    <%= f.number_field :IDWord %>
  </div>
  <div class="field">
    <%= f.label :IDCategory %><br>
    <%= f.number_field :IDCategory %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
