<p id="notice"><%= notice %></p>

<h1>Listing Word Categories</h1>

<table  class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Idword</th>
      <th>Idcategory</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @word_categories.each do |word_category| %>
      <tr>
        <td><%= word_category.IDWord %></td>
        <td><%= word_category.IDCategory %></td>
        <td><%= link_to 'Show', word_category %></td>
        <td><%= link_to 'Edit', edit_word_category_path(word_category) %></td>
        <td><%= link_to 'Destroy', word_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Word category', new_word_category_path %>
